<div class="search-form mt-4">
    <form method="get">
      <div class="form-group">
        <label for="search-input">key Work</label>
        <input type="text" name="q" class="form-control" id="search-input" placeholder="Enter email">
      </div>
      
      <button type="submit" class="btn btn-primary">search</button>
    </form>
</div>  